body {
    background: #F6F6F6;   
    margin-left: 0;
    padding-left: 0;   
    width: 100%;
}

.link {
    font-weight:bold;
}

.site {
    margin: 1em;
    width: 80%;
}

#stats {
    padding-left: 4em; 
}

a {
    text-decoration: none;
}

.title {
    font-size: medium;
}

.date {
    font-size: small;
}

.entry:last-of-type {
    margin-bottom: 1em;
}

.tab {
    float: left;
    width: 150px;
    margin-right: 12px;
    margin-left: 0;    
}

#feeds button:first-child {
    margin-bottom: 1em;    
}

#feeds {
    margin-bottom: 2em;
    border-right: 1px solid #ccc;
}

button {
    display: block;
    background: #F4F4F4;
    color: black;
    padding: 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

result {
    float: right;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 0px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
}

.title {
   font-weight:bold;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;   
}

#openinnewtab {
    margin-left: 5em;
}
